{
  "openapi": "3.0.3",
  "info": {
    "title": "Servantana API",
    "description": "API documentation for Servantana - the largest workforce marketplace. This API powers all mobile apps and web clients.",
    "version": "1.0.0",
    "contact": {
      "name": "Servantana Support",
      "url": "https://servantana.com/support",
      "email": "api@servantana.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://servantana.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://servantana.com/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Development server"
    }
  ],
  "tags": [
    { "name": "Auth", "description": "Authentication endpoints" },
    { "name": "Workers", "description": "Worker search and profiles" },
    { "name": "Bookings", "description": "Booking management" },
    { "name": "Payments", "description": "Payment processing" },
    { "name": "Messages", "description": "Real-time messaging" },
    { "name": "AI", "description": "AI-powered features" },
    { "name": "Reviews", "description": "Reviews and ratings" },
    { "name": "User", "description": "User profile management" }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a new user",
        "description": "Create a new customer or worker account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/workers": {
      "get": {
        "tags": ["Workers"],
        "summary": "Search workers",
        "description": "Search for workers by location, category, and filters",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": { "type": "number" },
            "description": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": { "type": "number" },
            "description": "Longitude"
          },
          {
            "name": "categoryId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by category"
          },
          {
            "name": "professionId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by profession"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": { "type": "number", "default": 25 },
            "description": "Search radius in km"
          },
          {
            "name": "minRating",
            "in": "query",
            "schema": { "type": "number", "minimum": 0, "maximum": 5 },
            "description": "Minimum rating filter"
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workers/{id}": {
      "get": {
        "tags": ["Workers"],
        "summary": "Get worker profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Worker profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerProfile"
                }
              }
            }
          },
          "404": {
            "description": "Worker not found"
          }
        }
      }
    },
    "/bookings": {
      "get": {
        "tags": ["Bookings"],
        "summary": "List user bookings",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["PENDING", "CONFIRMED", "IN_PROGRESS", "COMPLETED", "CANCELLED"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Bookings"],
        "summary": "Create a booking",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": ["Bookings"],
        "summary": "Get booking details",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "404": {
            "description": "Booking not found"
          }
        }
      }
    },
    "/bookings/{id}/cancel": {
      "post": {
        "tags": ["Bookings"],
        "summary": "Cancel a booking",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refundPercentage": { "type": "number" },
                    "refundAmount": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/checkout": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create payment checkout session",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["bookingId"],
                "properties": {
                  "bookingId": { "type": "string", "format": "uuid" },
                  "paymentMethod": {
                    "type": "string",
                    "enum": ["stripe", "paypal", "crypto"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutUrl": { "type": "string", "format": "uri" },
                    "sessionId": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "get": {
        "tags": ["Messages"],
        "summary": "List conversations",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{partnerId}": {
      "get": {
        "tags": ["Messages"],
        "summary": "Get messages with a user",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Messages"],
        "summary": "Send a message",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string", "maxLength": 2000 }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent"
          }
        }
      }
    },
    "/ai/chat": {
      "post": {
        "tags": ["AI"],
        "summary": "Chat with AI assistant",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "string" },
                  "conversationId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": { "type": "string" },
                    "conversationId": { "type": "string" },
                    "suggestedActions": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/smart-match": {
      "post": {
        "tags": ["AI"],
        "summary": "Get AI-powered worker recommendations",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["latitude", "longitude"],
                "properties": {
                  "latitude": { "type": "number" },
                  "longitude": { "type": "number" },
                  "professionId": { "type": "string" },
                  "categoryId": { "type": "string" },
                  "preferredDate": { "type": "string", "format": "date" },
                  "maxPrice": { "type": "number" },
                  "ecoFriendly": { "type": "boolean" },
                  "petFriendly": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matched workers with scores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartMatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai/estimate": {
      "post": {
        "tags": ["AI"],
        "summary": "Get AI price estimate from photos",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["photos"],
                "properties": {
                  "photos": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" }
                  },
                  "professionId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price estimate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "estimatedDuration": { "type": "number" },
                    "estimatedPrice": { "type": "number" },
                    "confidence": { "type": "number" },
                    "breakdown": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "task": { "type": "string" },
                          "hours": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reviews": {
      "post": {
        "tags": ["Reviews"],
        "summary": "Submit a review",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review submitted"
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "tags": ["User"],
        "summary": "Get favorite workers",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of favorite workers"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Add worker to favorites",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workerId"],
                "properties": {
                  "workerId": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Added to favorites"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Workers"],
        "summary": "List all service categories",
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/professions": {
      "get": {
        "tags": ["Workers"],
        "summary": "List all professions",
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by category"
          }
        ],
        "responses": {
          "200": {
            "description": "List of professions"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "details": { "type": "object" }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "firstName", "lastName", "role"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "minLength": 8 },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "phone": { "type": "string" },
          "role": { "type": "string", "enum": ["CUSTOMER", "WORKER"] }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "role": { "type": "string" }
        }
      },
      "WorkerProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "avatar": { "type": "string", "format": "uri" },
          "bio": { "type": "string" },
          "rating": { "type": "number" },
          "reviewCount": { "type": "integer" },
          "hourlyRate": { "type": "number" },
          "isVerified": { "type": "boolean" },
          "experience": { "type": "integer" },
          "completedBookings": { "type": "integer" },
          "responseTime": { "type": "string" },
          "services": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Service" }
          },
          "availability": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Availability" }
          }
        }
      },
      "WorkerListResponse": {
        "type": "object",
        "properties": {
          "workers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WorkerProfile" }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "price": { "type": "number" },
          "duration": { "type": "integer" }
        }
      },
      "Availability": {
        "type": "object",
        "properties": {
          "dayOfWeek": { "type": "integer", "minimum": 0, "maximum": 6 },
          "startTime": { "type": "string", "format": "time" },
          "endTime": { "type": "string", "format": "time" },
          "isAvailable": { "type": "boolean" }
        }
      },
      "CreateBookingRequest": {
        "type": "object",
        "required": ["workerId", "serviceId", "scheduledDate", "duration"],
        "properties": {
          "workerId": { "type": "string", "format": "uuid" },
          "serviceId": { "type": "string", "format": "uuid" },
          "scheduledDate": { "type": "string", "format": "date-time" },
          "duration": { "type": "integer", "minimum": 1, "maximum": 12 },
          "address": { "type": "string" },
          "notes": { "type": "string", "maxLength": 500 }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": ["PENDING", "CONFIRMED", "IN_PROGRESS", "COMPLETED", "CANCELLED"]
          },
          "scheduledDate": { "type": "string", "format": "date-time" },
          "duration": { "type": "integer" },
          "totalPrice": { "type": "number" },
          "worker": { "$ref": "#/components/schemas/WorkerProfile" },
          "service": { "$ref": "#/components/schemas/Service" },
          "address": { "type": "string" },
          "notes": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "BookingListResponse": {
        "type": "object",
        "properties": {
          "bookings": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Booking" }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" }
        }
      },
      "ConversationListResponse": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "partnerId": { "type": "string" },
                "partnerName": { "type": "string" },
                "partnerAvatar": { "type": "string" },
                "lastMessage": { "type": "string" },
                "lastMessageAt": { "type": "string", "format": "date-time" },
                "unreadCount": { "type": "integer" }
              }
            }
          }
        }
      },
      "MessageListResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "content": { "type": "string" },
                "senderId": { "type": "string" },
                "createdAt": { "type": "string", "format": "date-time" },
                "isRead": { "type": "boolean" }
              }
            }
          }
        }
      },
      "SmartMatchResponse": {
        "type": "object",
        "properties": {
          "matches": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "worker": { "$ref": "#/components/schemas/WorkerProfile" },
                "score": { "type": "number" },
                "matchReasons": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "CreateReviewRequest": {
        "type": "object",
        "required": ["bookingId", "rating"],
        "properties": {
          "bookingId": { "type": "string", "format": "uuid" },
          "rating": { "type": "integer", "minimum": 1, "maximum": 5 },
          "comment": { "type": "string", "maxLength": 1000 },
          "photos": {
            "type": "array",
            "items": { "type": "string", "format": "uri" }
          }
        }
      },
      "CategoryListResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "icon": { "type": "string" },
                "professionCount": { "type": "integer" }
              }
            }
          }
        }
      }
    }
  }
}
